http:
  routers:
    app:
      rule: "Host(`{{ domain_local }}`)"
      service: app
      entryPoints:
        - websecure
      tls: {}

  services:
    app:
      loadBalancer:
        servers:
          - url: "http://{{ app_service_name }}:{{ app_port }}"
