http:
  routers:
    harbor:
      rule: "Host(`harbor.{{ domain_local }}`)"
      entryPoints:
        - websecure
      service: harbor
      tls: {}

  services:
    harbor:
      loadBalancer:
        servers:
          - url: "http://{{ db_ip }}:8080"
